<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">На главную Stuff Sale</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/goods/add">Создать</a>
        </li>
        <%if (user) {%>            
        <li class="nav-item dropdown">            
          <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%=user.username%></a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="/profile">Профиль</a>
            <%if(user.role === 'admin'){%>
              <a class="dropdown-item" href="/profile/admin">Admin</a>
            <%}%>
            <a class="dropdown-item" href="/profile/logout">Выйти</a>
          </div>
        </li>
        <%}else{%>
            <li class="nav-item">
                <a class="nav-link" href="/profile/login">Профиль</a>
            </li>
        <%}%>        
      </ul>
      <form action="/search" method="get" class="form-inline my-2 my-lg-0">
        <select class="custom-select mb-2 mr-sm-2 mb-sm-0" name="formCategory" id="formCategory">
            <option selected>Категория</option>
            <option>Одежда</option>
            <option>Транспорт</option>
            <option>Недвижимость</option>
            <option>Работа</option>
            <option>Животные</option>
            <option>Дом и сад</option>
            <option>Электроника</option>
            <option>Халява</option>
          </select>
        <select class="custom-select mb-2 mr-sm-2 mb-sm-0" name="formCity" id="formCity">
            <option selected>Город</option>
            <%for(let i = 0; i < countries.length; i++){%>
              <option><%=countries[i]%></option>
            <%}%>
          </select>
        <input class="form-control mr-sm-2" type="search" name="search" placeholder="Поиск" aria-label="Search"/>
        <input class="btn btn-outline-success my-2 my-sm-0" type="submit" name="submit" value="Поиск"/>
      </form>
    </div>
  </nav>