<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Stuff Sale - Users</title>
    <meta name="description" content="reg">
    <meta name="author" content="Dima">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/add.css">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">            
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/add.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</head>
<body>
    <%include partials/header%>
    <div class="container">
        <form class="form-horizontal" role="form" method="POST" action="/add" enctype="multipart/form-data" id="addform">
            <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <h2>Добавить товар</h2>
                        <hr>
                    </div>
                </div>
            <div class="row">
                    <div class="col-md-3 field-label-responsive">
                        <label for="name">Имя товара</label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-tag"></i></div>
                                <input type="text" name="name" class="form-control" id="name" required="" autofocus="" minlength="1" maxlength="25">
                            </div>
                        </div>
                    </div>
            </div>
            <div class="row">
                    <div class="col-md-3 field-label-responsive">
                        <label for="name">Город</label>
                    </div>
                    <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                    <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-home"></i></div>                                    
                                    <select class="form-control" id="select" name="city">
                                        <%for(let i = 0; i < countries.length; i++){%>
                                            <option><%=countries[i]%></option>
                                        <%}%>
                                    </select>
                                </div>
                            </div>
                    </div>
            </div>
            <div class="row">
                    <div class="col-md-3 field-label-responsive">
                        <label for="name">Категория</label>
                    </div>
                    <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                    <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-list-ul"></i></div>                                    
                                    <select class="form-control" id="select" name="category">
                                      <option>Одежда</option>
                                      <option>Транспорт</option>
                                      <option>Недвижимость</option>
                                      <option>Работа</option>
                                      <option>Животные</option>
                                      <option>Дом и сад</option>
                                      <option>Электроника</option>
                                      <option>Халява</option>
                                    </select>
                                </div>
                            </div>
                    </div>
            </div>
            <div class="row">
                    <div class="col-md-3 field-label-responsive">
                        <label for="name">Состояние товара</label>
                    </div>
                    <div class="col-md-6">
                            <div class="form-group">
                                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                    <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-check"></i></div>                                    
                                    <select class="form-control" id="select" name="condition">
                                      <option>Новый</option>
                                      <option>Б/У</option>
                                    </select>
                                </div>
                            </div>
                    </div>
            </div>
            <div class="row">
                    <div class="col-md-3 field-label-responsive">
                        <label for="name">Описание</label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-align-left"></i></div>                                    
                                <textarea class="form-control" style="resize:none" name="about" id="exampleTextarea" rows="12"></textarea>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="row">
                    <div class="col-md-3 field-label-responsive">
                        <label for="name">Фотография товара</label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="custom-file mb-2 mr-sm-2 mb-sm-0">
                                <input type="file" id="file" name="goodsImage" class="custom-file-input" accept="image/*" multiple>
                                <span class="custom-file-control"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-control-feedback">
                                <span class="text-danger align-middle" id="status"></span>
                        </div>
                    </div>
            </div>
            <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-success" id="btnSubmit"><i class="fa fa-plus"></i> Добавить</button>
                    </div>
            </div>
        </form>
    </div>
</body>
</html>