<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Stuff Sale</title>
    <meta name="description" content="Site for used stuff that u wanna sale.">
    <meta name="author" content="Dima">

    <link rel="stylesheet" type="text/css" href="stylesheets/admin.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">        
</head>
<body>
    <%include partials/header%>
    <!-- <div>
        <ul class="users-list">
            <% allUsers.forEach(function(item, i, object) {%>
            <li>
                <%=item.username%>
            </li>
            <% }); %>
        </ul>
    </div> -->

    <div class="container">
        <h2>Пользователи</h2>          
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Username</th>
              <th>Phone</th>
              <th>Email</th>
              <th>Ban</th>
            </tr>
          </thead>
          <tbody>
            <%allUsers.forEach(function(item, index, array){%>
                <tr>
                    <td><%=item.username%></td>
                    <td><%=item.phone%></td>
                    <td><%=item.email%></td>
                    <%if(item.role !== 'admin'){%>
                        <form action="/ban" method="post" id="banForm">
                            <td><button type="submit" class="btn btn-danger" name="id" value="<%=item._id%>" id="btnSubmit">Бан</button></td>                                      
                        </form>
                    <%}%>
                    <!-- <form method="POST" action="/ban"> 
                        <td><button type="submit" class="btn btn-danger" value="<%=item._id%>">Бан</button></td>
                    </form> -->
                    <!-- <button type="submit" class="btn btn-success" id="btnSubmit"><i class="fa fa-plus"></i> Бан</button> -->
                </tr>
            <%})%>
          </tbody>
        </table>
      </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>