<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Stuff Sale</title>
    <meta name="description" content="Site for used stuff that u wanna sale.">
    <meta name="author" content="Dima">
    <meta name="author" content="Dima">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">        
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Api</h1>
        <h4>Авторизация через Basic-Auth</h4>
        <p>Params: "Username:Password"</p><br/>
        <h2>Goods</h2><br/>
        <h4>GET /api/v1/goods</h4>
        <p>Example: <br/>
            {<br/>
                "docs": [<br/>
                    {<br/>
                        "_id": "5a2ab54762cf8889b8db7f13",<br/>
                        "id": "Кросовки_проверочные_46004626",<br/>
                        "name": "Кросовки проверочные",<br/>
                        "city": "Киев",<br/>
                        "category": "Одежда",<br/>
                        "condition": "Новый",<br/>
                        "about": "тут типа нужно написать большое описание на русском но мне лень искать текст для копирования ",<br/>
                        "image": "http://res.cloudinary.com/ddbvrf8lf/image/upload/v1512748359/wmzkvjtfivpxwwxtqwav.jpg",<br/>
                        "imageID": "wmzkvjtfivpxwwxtqwav",<br/>
                        "ownerID": "5a23165813970e309583a6d3",<br/>
                        "__v": 0<br/>
                    }<br/>
                ],<br/>
                "total": 1,<br/>
                "limit": 5,<br/>
                "offset": 0,<br/>
                "page": 1,<br/>
                "pages": 1<br/>
            }</p><br/>

        <h4>POST /api/v1/goods/add</h4>
        <p>Takes params in body: {name: 'string', city: 'string', category: 'string', condition: 'string', about: 'string'}</p>
        <p>Required fileds: name. city, category, condition</p>
        <p>
            Example: <br/>
            {<br/>
                "__v": 0,<br/>
                "id": "check_471627802",<br/>
                "name": "check",<br/>
                "city": "check",<br/>
                "category": "check",<br/>
                "condition": "check",<br/>
                "about": "check",<br/>
                "image": "http://res.cloudinary.com/ddbvrf8lf/image/upload/v1512751998/ly7vdgozzudaf3dph4ev.jpg",<br/>
                "imageID": "ly7vdgozzudaf3dph4ev",<br/>
                "ownerID": "5a23165813970e309583a6d3",<br/>
                "_id": "5a2ac37e970e748e43502d44"<br/>
            }
        </p><br/>

        <h4>GET /api/v1/goods/:id</h4>
        <p>Example:<br/>
                {<br/>
                    "_id": "5a2ac37e970e748e43502d44",<br/>
                    "id": "check_471627802",<br/>
                    "name": "check",<br/>
                    "city": "check",<br/>
                    "category": "check",<br/>
                    "condition": "check",<br/>
                    "about": "check",<br/>
                    "image": "http://res.cloudinary.com/ddbvrf8lf/image/upload/v1512751998/ly7vdgozzudaf3dph4ev.jpg",<br/>
                    "imageID": "ly7vdgozzudaf3dph4ev",<br/>
                    "ownerID": "5a23165813970e309583a6d3",<br/>
                    "__v": 0<br/>
                }<br/>
        </p><br/>

        <h4>DELETE /api/v1/goods/:id</h4>
        <p>Example:<br/>
                {<br/>
                    "status": "deleted"<br/>
                }<br/>
        </p><br/>

        <h4>PUT /api/v1/goods/:id</h4>
        <p>Takes params in body: {name: 'string', city: 'string', category: 'string', condition: 'string', about: 'string'}</p>        
        <p>Example: <br/>
            {<br/>
                "category": "check"<br/>
            }<br/>
        </p><br/>

        <h2>Users</h2><br/>
        <h4>POST /api/v1/profile/add</h4>
        <p>Takes params in body: {username: 'string', email: 'string', phone: 'string', password: 'string'}</p>
        <p>Required fileds: username, email, phone, password</p>
        <p>
            Example: <br/>
            {<br/>
                "docs": [<br/>
                    {<br/>
                        "_id": "5a23e286542c210014d9f0e4",<br/>
                        "id": "SkRYfwbWM",<br/>
                        "username": "user",<br/>
                        "password": "8ddff0578ba7e89a438df248db17f9ec07d832f8fa11733e224fdab88713bcdec13b9d99e8cef34ec5eee37e9a9f1052056258b1b53a9b9614d4a12d12957e3a",<br/>
                        "role": "user",<br/>
                        "__v": 0<br/>
                    }<br/>
                ],<br/>
                "total": 4,<br/>
                "limit": 5,<br/>
                "offset": 0,<br/>
                "page": 1,<br/>
                "pages": 1<br/>
            }<br/>
        </p><br/>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>