<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Stuff Sale</title>
    <meta name="description" content="Site for used stuff that u wanna sale.">
    <meta name="author" content="Dima">
    <meta name="author" content="Dima">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" type="text/css" href="stylesheets/filter.css">

    <script src='https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>
    <%include partials/header%>
    <div class="container">
                <%if(founded === false) {%>
                    <%if(searchParam.formCity !== 'Город'){%>
                        <h1 class="my-4">В городе
                                <small><%=searchParam.formCity%></small>
                        </h1>
                    <%}%>
                    <%if(searchParam.formCategory !== 'Категория'){%>
                        <h1 class="my-4">В категории
                                <small><%=searchParam.formCategory%></small>
                        </h1>
                    <%}%>
                    <h1 class="my-4">По запросу <small><%=searchParam.search%></small> ничего не найдено
                    </h1>
                <%}else{%>
                    <h1 class="my-4">Все результаты по запросу
                        <small><%=searchParam.search%></small>
                    </h1>
                    <%if(searchParam.formCity !== 'Город'){%>
                        <h1 class="my-4">В городе
                                <small><%=searchParam.formCity%></small>
                        </h1>
                    <%}%>
                    <%if(searchParam.formCategory !== 'Категория'){%>
                        <h1 class="my-4">В категории
                                <small><%=searchParam.formCategory%></small>
                        </h1>
                    <%}%>
                        <div class="row">
                        <!-- <div id="result"></div> -->
                        <% object.forEach( function( object ) { %>
                            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                                <div class="card h-100">
                                    <%if(object.image === null){%>
                                        <a href="/goods/<%=object.id%>"><img class="card-img-top" src="http://talantreklama.ru/assets/cache/images/assets/snippets/phpthumb/750x500-noimage.018.png" alt=""></a> 
                                    <%}else{%>
                                        <a href="/goods/<%=object.id%>"><img class="card-img-top" src="<%=object.image[0]%>" alt=""></a>                                        
                                    <%}%>
                                    <div class="card-body">
                                        <h4 class="card-title">
                                        <a href="/goods/<%=object.id%>"><%=object.name%></a>
                                        </h4>
                                        <p class="card-text"><%=object.about%></p>
                                    </div>
                                </div>
                            </div>
                        <%})%>
                        </div>
                        <% if (pagesCount > 1) { %>
                          <ul class="pagination justify-content-center">
                            <% if (currentPage > 1) { %>
                                <li class="page-item">
                                    <a class="page-link" href="/?page=1" aria-label="Previous">&laquo;</a>
                                </li>
                            <% } %>
                            <!-- <li class="page-item">
                              <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">«</span>
                                <span class="sr-only">Previous</span>
                              </a>
                            </li> -->
                            <% var i = 1;
                                if (currentPage > 5) {
                                    i = +currentPage - 4;
                                } %>
                            <% if (i !== 1) { %>
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">...</a>
                                </li>
                            <% } %>
                            <% for (i; i<=pagesCount; i++) { %>
                                <% if (currentPage == i) { %>
                                    <li class="active page-item">
                                        <span class="page-link"><%= i %> <span class="sr-only">(current)</span></span>
                                    </li>
                                <% } else { %>
                                    <li class="page-item">
                                        <a class="page-link" href="/search?formCategory=<%=searchParam.formCategory%>&formCity=<%=searchParam.formCity%>&search=<%=searchParam.search%>&submit=Поиск&page=<%= i %>"><%= i %></a>
                                    </li>
                                <% } %>
                                <% if (i == (+currentPage + 4)) { %>
                                    <li class="disabled page-item">
                                        <a class="page-link" href="#">...</a>
                                    </li>
                                <% break; } %>
                            <% } %>
                            <!-- <li class="page-item">
                              <a class="page-link" href="#">1</a>
                            </li> -->
                            <% if (currentPage != pagesCount) { %>
                                <li class="page-item">
                                    <a class="page-link" aria-label="Next" href="/search?formCategory=<%=searchParam.formCategory%>&formCity=<%=searchParam.formCity%>&search=<%=searchParam.search%>&submit=Поиск&page=<%=pagesCount%>">&raquo;</a>
                                </li>
                            <% } %>
                            <!-- <li class="page-item">
                              <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">»</span>
                                <span class="sr-only">Next</span>
                              </a>
                            </li> -->
                          </ul>
                        <%}%>
                        </div>
                <%}%>
  
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>