﻿<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Stuff Sale - Good</title>
    <meta name="description" content="Good">
    <meta name="author" content="Dima">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    
    <link rel="stylesheet" href="/stylesheets/good.css">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">            
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/remove.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>     
</head>
<body>
    <%include partials/header%>
    <div class="container">
                  <h1 class="my-4"><%=object.name%>
                    <small>(<%=object.category%>)</small>
                  </h1>
                  <div class="row">
                    
                    <div class="col-md-8">
                        <%if(object.image === null){%>
                            <img class="img-fluid" src="http://talantreklama.ru/assets/cache/images/assets/snippets/phpthumb/750x500-noimage.018.png" alt=""/>
                        <%}else{%>
                            <img class="img-fluid" src="<%=object.image[0]%>" width="650" height="500" alt="">          
                        <%}%>
                    </div>
                    
                    <div class="col-md-4">
                      <h3 class="my-3"><%=user.username%></h3>
                      <p><%=user.phone%></p>
                      <h3 class="my-3">Описание</h3>
                      <p><%=object.about%></p>
                      <h3 class="my-3">Детали</h3>
                      <ul>
                        <li>Город: <%=object.city%></li>
                        <li>Состояние: <%=object.condition%></li>
                      </ul>
                      <%if(user){%>
                        <%if(user._id === object.ownerID || role === "admin"){%>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal"><i class="fa fa-ban"></i> Удалить</button>
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h4 class="modal-title" id="myModalLabel">Вы уверены?</h4>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-arrow-left"></i>Нет</button>
                                      <form action="/delete" method="post" id="deleteForm">
                                        <button type="submit" class="btn btn-success" name="id" value="<%=object.id%>" id="btnSubmit"><i class="fa fa-check"></i>Да</button>                                        
                                      </form>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        <%}%>
                      <%}%>
                    </div>
            
                  </div>
                  <%if(object.image !== null){%>
                  <h3 class="my-4">Фотографии</h3>
                  <div class="row">
                    <%for(let i = 0; i < object.image.length; i++){%>
                      <div class="col-md-3 col-sm-6 mb-4">
                        <a href="#" id="imgBtn">
                          <img class="img-fluid" src="<%=object.image[i]%>" alt="" id="imgArray">
                        </a>
                      </div>
                    <%}%>
                  </div>
                  <%}%>
                </div>
</body>
</html>