﻿<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Stuff Sale</title>
    <meta name="description" content="Site for used stuff that u wanna sale.">
    <meta name="author" content="Dima">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" type="text/css" href="stylesheets/index.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>
    <%include partials/header%>
    <main role="main">
                  <div class="jumbotron">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-3">
                            <p><a class="btn btn-primary btn-lg" href="/search?formCategory=Одежда&formCity=Город&search=&submit=Поиск" role="button">Одежда</a></p>                            
                        </div>
                        <div class="col-md-3">
                            <p><a class="btn btn-primary btn-lg" href="search?formCategory=Транспорт&formCity=Город&search=&submit=Поиск" role="button">Транспорт</a></p>                            
                        </div>
                        <div class="col-md-3">
                            <p><a class="btn btn-primary btn-lg" href="search?formCategory=Недвижимость&formCity=Город&search=&submit=Поиск" role="button">Недвижимость</a></p>                            
                        </div>
                        <div class="col-md-3">
                            <p><a class="btn btn-primary btn-lg" href="/search?formCategory=Работа&formCity=Город&search=&submit=Поиск" role="button">Работа</a></p>                            
                        </div>
                        <div class="col-md-3">
                                <p><a class="btn btn-primary btn-lg" href="/search?formCategory=Животные&formCity=Город&search=&submit=Поиск" role="button">Животные</a></p>                            
                        </div>
                        <div class="col-md-3">
                                <p><a class="btn btn-primary btn-lg" href="/search?formCategory=Дом+и+сад&formCity=Город&search=&submit=Поиск" role="button">Дом и сад</a></p>                            
                        </div>
                        <div class="col-md-3">
                                <p><a class="btn btn-primary btn-lg" href="/search?formCategory=Электроника&formCity=Город&search=&submit=Поиск" role="button">Электроника</a></p>                            
                        </div>
                        <div class="col-md-3">
                                <p><a class="btn btn-primary btn-lg" href="/search?formCategory=Халява&formCity=Город&search=&submit=Поиск" role="button">Халява</a></p>                            
                        </div>
                      </div>
                    </div>
                  </div>
            
                  <div class="container">
                    <div class="row">
                      <%let maxGoods;
                        if(object.length < 6) maxGoods = object.length;
                        else maxGoods = 6;
                      %>  
                      <%
                      function generateNumArr(limit) {
                          ret = [];
                          for (var i = 0; i < limit; i++) {
                              ret.push(i);
                          }
                      
                          return ret;
                      }

                      function shuffle(array) {
                          var i = array.length,
                              j = 0,
                              temp;
                      
                          while (i--) {
                      
                              j = Math.floor(Math.random() * (i+1));
                      
                              // swap randomly chosen element with current element
                              temp = array[i];
                              array[i] = array[j];
                              array[j] = temp;
                          }
                      
                          return array;
                      }

                      let random = shuffle(generateNumArr(object.length));
                  %>
                      <%for(let i = 0; i < maxGoods; i++){%>  
                        <div class="col-md-4">
                            <h2><%=object[random[i]].name%></h2>
                            <%if(object[random[i]].image === null){%>
                                <p><img src="http://talantreklama.ru/assets/cache/images/assets/snippets/phpthumb/750x500-noimage.018.png" width="200" height="200"></p>                                
                            <%}else{%>
                                <p><img src="<%=object[random[i]].image[0]%>" width="200" height="200"></p>                                                                
                            <%}%>
                            <p><a class="btn btn-secondary" href="/goods/<%=object[random[i]].id%>" role="button">Подробнее »</a></p>
                        </div>
                      <%}%>
                    </div>
            
                    <hr>
            
                  </div>
            
    </main>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>