<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Stuff Sale</title>
    <meta name="description" content="Site for used stuff that u wanna sale.">
    <meta name="author" content="Dima">
    <meta name="author" content="Dima">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" type="text/css" href="stylesheets/profile.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">        
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</head>
<body>
    <%include partials/header%>
    <div class="container">

            <h1 class="my-4">Ваши обьявления</h1>
      
            <%for(let i = 0; i < object.length; i++){%>
            <div class="row">
              <div class="col-md-7">
                <%if(object[i].image === null){%>
                    <a href="/goods/<%=object[i].id%>">
                        <img class="img-fluid rounded mb-3 mb-md-0" src="http://talantreklama.ru/assets/cache/images/assets/snippets/phpthumb/750x500-noimage.018.png" alt="">
                    </a>
                <%}else{%>
                    <a href="/goods/<%=object[i].id%>">
                        <img class="img-fluid rounded mb-3 mb-md-0" src="<%=object[i].image[0]%>" alt="">
                    </a>
                <%}%>
              </div>
              <div class="col-md-5">
                <h3><%=object[i].name%></h3>
                <p><%=object[i].about%></p>
                <a class="btn btn-primary" href="/goods/<%=object[i].id%>">Подробнее</a>
              </div>
            </div>
            <!-- /.row -->
            <hr>
            <%}%>
      
            <!-- <ul class="pagination justify-content-center">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">«</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">»</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul> -->
      
          </div>
</body>
</html>