/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
  }
  
  @media(min-width: 768px) {
    .field-label-responsive {
      padding-top: .5rem;
      text-align: right;
    }
  }

.btn-primary{
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
  width: 100%; 
}